.social {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}

.social__item {
  margin: 0 .75rem;
}