<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <!--                <li class="nav__item">-->
                <!--                <ul class="subnav">-->
                <!--                    <li>-->
                <!--                        <a class="subnav__link" href="">Создание сайтов</a>-->
                <!--                    </li>-->
                <!--                </ul>-->
                <!--                </li>-->
            </ul>
        </nav>

        <button class="burger" type="button">
            <span>
                 Открыть навигацию
            </span>
        </button>
    </div>

    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list nav__list-right">
            </ul>
        </nav>
        <form class="search" action="/" method="post">
        </form>
    </div>
</header>
